.App {
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito";
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 1.2;
  color: #fff;
  font-family: "Nunito";
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* ==================================================
  General
  ================================================== */

a {
  color:#fff;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color:#fff;
  text-decoration: underline;
}

img {
  flex: 1;
  width: 100%;
  height: 100%;
}

button {
  border: none;
  color: #fff;
  background-color: transparent;
}

figure {
  margin: 0;
}

section {
  padding: 85px 200px 85px 350px;
  min-height: 100vh;
}

.bg-left {
  background-position-x: left;
  background-position-y: center;
  background-size: auto 150%;
  background-repeat: no-repeat;
}

.bg-right {  
  background-position-x: right;
  background-position-y: center;
  background-size: auto 150%;
  background-repeat: no-repeat;

}

.bg-header-left {
  background-image: url("./img/background/bg-header-left.png");
}

.bg-header-right {
  background-image: url("./img/background/bg-header-right.png");
}

.bg-team {
  background-image: url("./img/background/bg-team.png");
}

.bg-community {
  background-image: url("./img/background/bg-community.png");
}
.bg-faq {
  background-image: url("./img/background/bg-faq.png");
}
.bg-roadmap {
  background-image: url("./img/background/bg-roadmap.png");
}

@media (max-width: 767.98px) {
  .App-header {
    font-size: calc(4px + 3vmin);
  }

  .title img {
    max-width: 75vw;
  }

  .bg-left {
    background: none;
  }

  .bg-right {
    background: none;
  }

  section {
    padding: 85px 0px!important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px)  {
  .App-header {
    font-size: calc(2px + 2vmin);
  }

  .bg-left {
    background-size: contain;
  }

  .bg-right {
    background-size: contain;
  }

  section {
    padding: 85px 15vw!important;
  }
}

/* ==================================================
  Elements
  ================================================== */
section.roadmap {
  padding: 85px 75px 85px 350px;
}

.roadmap .img-title {
  margin-right: 7.5vw!important;
}

.discover {
  cursor: pointer;
  display: inline-block;
  margin: 5rem 1rem;
  max-width: 10em;
}

.discover:hover {
  opacity: .75;
}

.title {
  margin: 3.5rem auto;
}

.portrait img {
  border: 1px solid #fff;
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0rem;
  max-width: 22.5rem;
  width: auto;
  height: auto;
}

.portrait-team img {
  border: 1px solid #fff;
  display: inline-block;
  margin: 0px;
  max-width: 25rem;
  width: auto;
  height: auto;
}

.number img {
  display: block;
  max-height: 3rem;
  width: auto;
  height: auto;
}

.title-bottom {
  margin: auto 0 0.5rem 0.5rem;
}

.img-title {
  margin-left: auto;
  margin-right: 15px;
}

.img-title img {
  display: block;
  max-height:3rem;
  width: auto;
  height: auto;
}

.farm {
  border: 1px solid #fff;
  display: inline-block;
  max-width: 40em;
  padding: 0.7em;
}

@media (max-width: 992px) {
  .portrait img {
    max-width: 10rem;
  }

  .number img {
    max-height: 1.5rem;
  }

  .img-title img {
    max-height:2rem;
  }
  
}

/* ==================================================
  Accordion
  ================================================== */

.accordion-item {
  margin-bottom: 2em;
}

.accordion-item > h2 {
  font-size: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.accordion-arrow {
  margin-left: auto;
}

.accordion-button {
  width: 100%;
  display: flex;
  padding: 0px;
}

.accordion-button span {
  text-align: left;
  font-weight: bold;
}

button[class~="collapsed"] + button[class="accordion-button"] .accordion-arrow::before {
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

button[class="accordion-button"] .accordion-arrow::before {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

/* ==================================================
  Side menu
  ================================================== */
.img-brand img {
  display: block;
  max-height: 4rem;
  width: auto;
  height: auto;
}

.side-menu-enter {
  opacity: 0;
  transform:translateX(-100%);
}

.side-menu-enter-active {
  opacity: 1;
  transform:translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.side-menu-exit {
  opacity: 1;
  transform:translateX(0);
}

.side-menu-exit-active {
  opacity: 0;
  transform:translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.flex {
  display:flex;
}

.side-nav {
  background: none;
  height: 0;
  overflow: visible;
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  text-align: start;
  padding: 0rem;
}

.side-nav a {
  text-decoration: none;
  color:#fff;
  font-size: calc(12px + 2vmin);
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

.side-nav a:hover {
  text-decoration: none;
}

.side-nav > .side-menu {
  max-width: 350px;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper-bg-gradient {
  padding: 1rem 5rem;
  background: linear-gradient(to right, rgba(33,42,49,1), rgba(33,42,49,0));
}

.side-nav span {
  position: relative;
}

.side-nav p {
  margin: 0;
  font-size: larger;
  font-weight: bold;
}

.side-nav a:hover{
  opacity: .75;
}

.btn-toggle {
  align-content: flex-start;
  display: flex;
  width: 100vw;
  height: 40px;
  background: #212A31;
}

.social-media img {
  max-height:3em;
  width: auto;
  height: auto;
}

@media (max-width: 992px) {
  .side-nav {
    top: 0rem!important;
  }

  .side-menu {
    max-width: 80vw!important;
  }
}

/* ==================================================
  Parallax background
  ================================================== */

.content {
  position: relative;
  margin: -100vh auto 0;
  padding: var(--space);
  width: calc(100% - var(--space));
}

.image-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}